[Unit]
Description=Start Telebot service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/RPI-Telebot/main.py
User=pi

[Install]
WantedBy=multi-user.target
