[Unit]
Description=Start Telebot service
After=network.target

[Service]
ExecStart=/home/pi/RPI-Telebot/venv/bin/python3 /home/pi/RPI-Telebot/main.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
